In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
import warnings

sns.set()
rcParams['figure.figsize'] = (20,10)
pd.options.display.max_columns = None
warnings.filterwarnings('ignore')

In [5]:
df1 = pd.read_csv('./cat_baseline-8.csv')
df2 = pd.read_csv('./submit1-3.csv')
target = 'contest-tmp2m-14d__tmp2m'

In [4]:
df1.head()

   contest-tmp2m-14d__tmp2m   index
0                 28.833279  375734
1                 28.945023  375735
2                 29.068888  375736
3                 29.175271  375737
4                 29.373029  375738

In [6]:
df3 = pd.DataFrame({
  'contest-tmp2m-14d__tmp2m': (df1[target] + df2[target]) / 2,
  'index': df1['index']
})

In [7]:
df3.to_csv('submit.csv', index=False)