In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
import warnings

sns.set()
rcParams['figure.figsize'] = (20,10)
pd.options.display.max_columns = None
warnings.filterwarnings('ignore')

In [2]:
df1 = pd.read_csv('1.csv')
df2 = pd.read_csv('2.csv')
df3 = pd.read_csv('3.csv')
df4 = pd.read_csv('4.csv')
df5 = pd.read_csv('5.csv')

In [3]:
df1.head()

   contest-tmp2m-14d__tmp2m   index
0                 28.923411  375734
1                 29.085688  375735
2                 29.105345  375736
3                 29.145748  375737
4                 29.434986  375738

In [6]:
target = 'contest-tmp2m-14d__tmp2m'

In [10]:
final = pd.DataFrame({
  target: np.mean([df1[target], df2[target], df3[target], df4[target], df5[target]], axis=0),
  'index': df1['index']
})
final

       contest-tmp2m-14d__tmp2m   index
0                     29.027487  375734
1                     29.102133  375735
2                     29.153483  375736
3                     29.256684  375737
4                     29.516455  375738
...                         ...     ...
31349                  5.018488  407083
31350                  4.881217  407084
31351                  4.079712  407085
31352                  4.681321  407086
31353                  4.643111  407087

[31354 rows x 2 columns]

In [9]:
final.to_csv('submission.csv', index=False)